@import "~bootstrap/scss/bootstrap";

$bgcolor : white;

body
{
    background-color: $bgcolor;
}

.connexion
{
    margin-top: 20px;
}

.presentation
{
    text-align: center;
}

.div#user_roles label
{
    display: none;
}

.title
{
    text-align: center;
}

div.screen-left
{
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding: 0;

}

div.screen-right
{
    width: 45%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.fact-list
{
    list-style-type: none;
}