<form method="post" action="{{ path('probability_delete', {'id': probability.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ probability.id) }}">
    <button class="btn">Delete</button>
</form>
