{% extends 'base.html.twig' %}

{% block title %}New Probability{% endblock %}

{% block body %}
    <h1>Create new Probability</h1>

    {{ include('probability/_form.html.twig') }}

    <a href="{{ path('probability_index') }}">back to list</a>
{% endblock %}
