{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<h1>Nombre de projets  : {{ projects|length}}</h1>

<h2>Bonjour {{username}}</h2>

<ul>

<div class="cards d-flex flex-wrap" >
{% for project in projects %}


<div class="cards" style="width: 18rem;" >
  <img class="card-img-top" src="./images/phoenix.JPG" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{project.name}}</h5>
    <a href="{{ path('app_show_project',{'id': project.id})}}" class="btn btn-primary">Voir projet</a>
  </div>
</div>



    

{% endfor %}
</div>

</ul>


{% endblock %}
