{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block body %}
<h1>Add</h1>

{{ form_start(project_form)}}
     {{form_widget(project_form)}}
{{ form_end(project_form) }}


{% endblock %}